body {
    background-color:black;
}
div.heading {
    position:fixed;
    top:0;
    width:99%;
    border-bottom: 5px solid purple;
    background-color:black;
    z-index:3;
}
div.heading img{
    margin:0.5%;
    float:left;
    width:50px;
    height:50px;
    animation-delay: 2s;
    animation: spin 10s infinite ease;
}
@keyframes spin {
    100% {transform: rotate(360deg);}
}
div.heading section {
    padding:0.5%;
    margin: 1% auto;
    float:right;
    color:white;
    text-align:center;
    font-size:40px;
    font-family: 'inversionz_unboxedregular';
}
div.heading section:hover {
    border-bottom: 2px solid purple;

}
div.heading header{
    font-family: 'inversionz_unboxedregular';
    float:left;
    color:white;
    text-align:center;
    padding:0.5%;
    margin: 1% auto;
    font-size:50px;
}
div.space {
    height:110px;
}
video {
    width:100%;
    height:80%;
}
div.feature {
    height:75%;
}
div.feature img:first-child{
    width:99%;
    height:80%;
    position: absolute;
}
div.feature img:last-child {
    position:absolute;
    width:99%;
    height:80%;
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 60% 100%);
    animation: diagonal 25s infinite;
    animation-delay: 2s;
}
@keyframes diagonal {
    0% {clip-path: polygon(40% 0, 100% 0%, 100% 100%, 60% 100%);}
    12.5% {clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);}
    25% {clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);}
    37.5% {clip-path: polygon(40% 0, 100% 0%, 100% 100%, 60% 100%);}
    50% {clip-path: polygon(40% 0, 100% 0%, 100% 100%, 60% 100%);}
    62.5% {clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);}
    75% {clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);}
    87.5% {clip-path: polygon(40% 0, 100% 0%, 100% 100%, 60% 100%);}
    100%{clip-path: polygon(40% 0, 100% 0%, 100% 100%, 60% 100%);}
}
div.slide {
    overflow: hidden;
}
div.slideshow {
    position:relative;
    width:400%;
    left:0;
    animation: slider 20s infinite linear;
}
div.slideshow img {
    float: left;
    width:25%;
    height:80%;
}
@keyframes slider {
    0% {left:0;}
    12.5% {left:0;}
    25%{left:-100%;}
    37.5%{left:-100%;}
    50%{left:-200%;}
    62.5%{left:-200%;}
    75%{left:-300%;}
    87.5%{left:-300%;}
}
div.content {
    width:85%;
    border-right: 2px solid purple;
}
div.content header {
    font-family: 'inversionz_unboxedregular';
    font-size:65px;
    border-bottom: 3px dashed purple;
    text-align:left;
    color:white;
    margin:1%;
}
div.content nav {
    font-family: 'inversionz_unboxedregular';
    font-size:65px;
    text-align:left;
    color:white;
    display:inline-block;
    margin:1%;
    border-bottom: 2px solid purple;
}
div.item_gpu{
    width:100%;
}
div.item_gpu section {
    display:inline-block;
    position:relative;
    width:350px;
    height:480px;
    transition:1s;
    margin:2%;
    border: 1px solid transparent;
    z-index:1;
}
div.item_gpu section img {
    width:90%;
    height:200px;
    margin:5%;
}
div.item_gpu section:hover {
    border: 1px solid purple;
    transform: scale(1.1);
    background-color:#452C4B;
}
div.item_gpu section header {
    font-size:30px;
    text-align:center;
    border:none;
    font-family:Sans-serif;
}
div.item_gpu section article{
    font-size:20px;
    font-family:Sans-serif;
    color:white;
    list-style-image: url("Media/tick.png");
}
div.item_cpu {
    display:table;
    width:100%;
}
div.item_cpu section {
    float:left;
    width:250px;
    height:500px;
    transition:1s;
    margin:2%;
    border: 1px solid transparent;
}
div.item_cpu section img {
    width:90%;
    height:200px;
    margin:5%;
}
div.item_cpu section:hover {
    border: 1px solid purple;
    transform: scale(1.1);
    background-color:#452C4B;
}
div.item_cpu section header {
    font-size:30px;
    text-align:center;
    border:none;
    font-family:Sans-serif;
}
div.item_cpu section article{
    font-size:20px;
    font-family:Sans-serif;
    color:white;
    list-style-image: url("Media/tick.png");
}
@media screen and (max-width:360px) {
    div.heading div {
        overflow:hidden;
        clear:both;
        height:0;
    }
    div.heading img{
        margin:2%;
        width:50px;
        height:50px;
    }
    div.heading header{
        float:left;
        color:white;
        text-align:center;
        padding:1%;
        margin: 2%;
        font-size:60px;
    }
    div.heading a.nav {
        float:right;
        width:50px;
        height:50px;
        margin:3%;
        background: url(Media/menu1.png) no-repeat;
    }
    div.heading section {
        padding:1%;
        margin: 1%;
        float:none;
        color:white;
        text-align:center;
        font-size:30px;
        font-family: 'inversionz_unboxedregular';
    }
    div.heading div.open {
        height:auto;
    }
    div video {
        width:99%;
        height:35%;
    }
    div.feature {
        height:35%;
    }
    div.feature img:first-child{
        height:35%;
    }
    div.feature img:last-child {
        height:35%;
    }
    div.slideshow img {
        height:35%;
    }
    div.space {
        height:100px;
    }
    div.content {
        width:85%;
        border-right: 2px solid purple;
    }
    div.content header {
        font-size:40px;
        border-bottom: 2px dashed purple;
        text-align:center;
        margin:2%;
    }
    div.content nav {
        font-size:30px;
        text-align:center;
        margin:2%;
        border-bottom: 2px solid purple;
    }
    div.item_gpu section {
        width:96%;
        height:400px;
    }
    div.item_gpu section img {
        height:200px;
    }
    div.item_gpu section header {
        font-size:20px;
    }
    div.item_gpu section article{
        font-size:10px;
    }
    div.item_cpu section {
        width:96%;
        height:350px;
    }
    div.item_cpu section img {
        position: relative;
        left:25%;
        width:50%;
        height:150px;
        margin:0;
    }
    div.item_cpu section header {
        font-size:20px;
        text-align:center;
    }
    div.item_cpu section article{
        font-size:10px;
        font-family:Sans-serif;
    }
}